@charset "UTF-8";
/* CSS Document */


/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
	/*background-color: #ededed;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233f602c' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
	background-color: #ededed;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233f602c' fill-opacity='0.21' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	margin-top: 10px;
	background-color: #3f602c;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 0px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	background-color: #eaf4e4;
}

/*This is a flex item*/
#logo
{
	width: 200px;
	height: 100px;
	margin-top: 20px;
	padding-left: 20px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 30px;
}

#mainNav ul li
{
	display: inline;
	margin-left: 30px;
}

#mainNav ul li a
{
	color: #3f602c;
	font-size: 16px;
}

#mainNav ul li a:hover
{
	color: #e2b874;
	border-bottom: solid 1px #e2b874;
}

/*End of header*/



/*Footer */

#mainFooter 
{
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	height: 180px;
  	background-color: #f1f1f1;
}

#footerNav 
{
	width: 500px;
	margin-top: 80px;
}

#footerNav ul li
{
	display: inline;
	margin-left: 30px;
}

#footerNav ul li a
{
	color: #3f602c;
	font-size: 16px;
}

#footerNav ul li a:hover
{
	color: #e2b874;
	border-bottom: solid 1px #e2b874;
}

#socialCopyRight
{
	display: flex;
	flex-direction: column;
	margin-left: 150px;
}

#icons img
{
  width: 47px;
  height: 47px;
}

#icons
{
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

#icons li
{
  display: inline;
  margin-right: 14px;
}

#icons li a
{
  filter: hue-rotate(70deg);
}

#icons li a:hover
{
  filter: hue-rotate(0deg);
}

#copyRight
{
	margin-top: 15px;
	width: 185px;
}

#copyRight p
{
	font-family: helvetica;
	font-size: 12px;
	color: #333333;
	line-height: 20px;
}

/*End of footer*/

/*END OF GENERAL RULES*/

/*----->HOME PAGE<----*/

.heroCon
{
	width: 960px;
	height: 333px;
	border-bottom: solid 1px #dddddd;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
}

.hero
{
  height: 250px;
  width: 921px;
  background: url(../images/home_header.jpg) no-repeat bottom; 
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero h2
{
	text-align: center;
	color: #e1b36a;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 6px;
}

.toursEvents
{
	width: 960px;
	height: 380px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #fff;
}


.toursEvents h3
{
	font-size: 26px;
/*	font-style: oblique;*/
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 5px;
}

.toursEvents h3 a
{
	color: #e1b36a;
}

.toursEvents h3 a:hover
{
	color: #3f602c;
	border-bottom: solid 1px;
}

.toursEvents p
{
	font-size: 20px;
	font-weight: normal;
	color: #585755;
	line-height: 27px;

}

.tours
{
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 40px;
}

.events
{
	margin-top: 40px;
	margin-left: 50px;
}

/*----->END OF HOME PAGE<-----*/

/*------>ABOUT PAGE<------*/

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promoText 
{
	width: 600px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

/*----->END OF ABOUT PAGE<-----*/

/*----->CONTACT PAGE<-----*/

.mainContact
{
	width: 960px;
	height: 712px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.contact, .form
{
	width: 440px;
	height: 630px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}



.contact h2
{
	color: #506d40;
	font-size: 30px;
	font-weight: normal;
	font-style: oblique;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.contactFlag img
{
	float: left;
	margin-right: 20px;
	margin-bottom: 50px;
}

.contactFlag p
{
	font-size: 20px;
	font-weight: bold;
	color: #585755;
	line-height: 30px;
	padding-top: 25px;
}


.mapArea ul
{
	font-weight: bold;
	list-style-type: none;
	font-size: 14px;
	color: #585755;
	padding: 0;
	margin-top: 15px;
}


.form h2
{
	color: #506d40;
	font-size: 30px;
	font-weight: normal;
	font-style: oblique;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#contactForm
{
	margin-left: 40px;
}

label
{
	font-size: 20px;
	color: #ba9761;
	margin-left: 20px;
}

input, textarea  
{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
  width: 360px;
  height: 30px;
  background-color: #ebeae8;
  display: block;
  color: #333;
  border-radius: 10px;
  border: 0;
}


#comments
{
  width: 360px;
  height: 200px;
}

#submit
{
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 15px;
  color: #3f602c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e4c58c;
  font-size: 16px;
  border-radius: 10px;
}


/*----->END OF CONTACT PAGE<-----*/






